StockWSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://ws.jaxwslab.juniormiqueletti.com/" name="StockWSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ws.jaxwslab.juniormiqueletti.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.jaxwslab.juniormiqueletti.com/" schemaLocation="StockWSService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="allItems">
    <part name="parameters" element="tns:listItems"/>
  </message>
  <message name="allItemsResponse">
    <part name="parameters" element="tns:itemsResponse"/>
  </message>
  <message name="registerItem">
    <part name="parameters" element="tns:registerItem"/>
    <part name="tokenUsuario" element="tns:tokenUsuario"/>
  </message>
  <message name="registerItemResponse">
    <part name="result" element="tns:registerItemResponse"/>
  </message>
  <message name="AuthorizatioFault">
    <part name="fault" element="tns:AuthorizatioFault"/>
  </message>
  <portType name="StockWS">
    <operation name="allItems">
      <input wsam:Action="http://ws.jaxwslab.juniormiqueletti.com/StockWS/allItemsRequest" message="tns:allItems"/>
      <output wsam:Action="http://ws.jaxwslab.juniormiqueletti.com/StockWS/allItemsResponse" message="tns:allItemsResponse"/>
    </operation>
    <operation name="registerItem" parameterOrder="parameters tokenUsuario">
      <input wsam:Action="http://ws.jaxwslab.juniormiqueletti.com/StockWS/registerItemRequest" message="tns:registerItem"/>
      <output wsam:Action="http://ws.jaxwslab.juniormiqueletti.com/StockWS/registerItemResponse" message="tns:registerItemResponse"/>
      <fault message="tns:AuthorizatioFault" name="AuthorizatioFault" wsam:Action="http://ws.jaxwslab.juniormiqueletti.com/StockWS/registerItem/Fault/AuthorizationException"/>
    </operation>
  </portType>
  <binding name="StockWSPortBinding" type="tns:StockWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="allItems">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="registerItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:registerItem" part="tokenUsuario" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthorizatioFault">
        <soap:fault name="AuthorizatioFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="StockWSService">
    <port name="StockWSPort" binding="tns:StockWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

